body {
  margin: 0;
  display: flex;
  place-items: center;
}

.zoom-controls {
  display: flex;
  flex-direction: column;
  width: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  margin: 4px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
